
Data/Raw/ml-latest.zip

Data/Raw/ml-latest/links.csv

Data/Raw/ml-latest/README.txt

Data/Raw/ml-latest/tags.csv

Data/Raw/ml-latest/ratings.csv

Data/Raw/ml-latest/movies.csv

Data/Raw/ml-latest/genome-scores.csv

Data/Raw/ml-latest/genome-tags.csv

Resources/Data/Raw/ml-latest/tags.csv

Resources/Data/Raw/ml-latest/README.txt

Resources/Data/Raw/ml-latest/ratings.csv

Resources/Data/Raw/ml-latest/links.csv

Resources/Data/Raw/ml-latest/links.csv

Resources/Data/Raw/ml-latest.zip

Resources/Data/Raw/ml-latest/genome-tags.csv

Resources/Data/Raw/ml-latest/movies.csv

Resources/Data/Raw/ml-latest/movies.csv

Resources/Data/Raw/ml-latest/genome-scores.csv

Resources/Data/Raw/ml-latest/genome-scores.csv

Resources/Data/Derived/model_with_rating_target/

